/*
Folha de estilo site one page html5 e css3
@author Professor Jose de Assis
*/
/*CSS Reset */
*{
    margin: 0;
    border: 0;
    padding: 0;
}
/*importação google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em ;
}
/*Layout*/
.Container{
    margin: 0 auto ;
    background-color: #0ff00f;
    
}

/* Smartphone landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 576px){
    body{
        background-color: #0ff;
    }
    /*layout*/
    .Container{
        max-width: 540px;
    }

}
/* Tablet Portrait>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px){
    body{
        background-color: #0ff00f;
    }
    /*layout*/
    .Container{
        max-width: 720px;
    }
    
}
 /* Tablet landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 992px){
    body{
        background-color: #ff6600;
    }
    /*layout*/
    .Container{
        max-width: 960px;
    }
    
}
/* PC  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1200px){
    body{
        background-color: #f00;
    }
    /*layout*/
    .Container{
        max-width: 1140px;
    }
    
}